@page "/dashboard"
@using ToDoList.Frontend.Clients
@using ToDoList.Frontend.Views
@inject IToDoItemsClient ToDoItemsClient
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>

<table class="table table-hover mt-5">
    <thead class="table-dark">
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Completed</th>
        <th>Category</th>
        <th>Actions</th>
        <th></th>
        <th></th>
    </thead>

    <tbody>
        @if (toDoItems is null)
        {
            <p>Loading...</p>
        }
        else
        {
            @foreach (var ToDoItem in toDoItems)
            {
                <tr class="table-secondary @GetCorrectClassFoTableLine(ToDoItem.IsCompleted)">
                    <td>@ToDoItem.ToDoItemId</td>
                    <td>@ToDoItem.Name</td>
                    <td>@ToDoItem.Description</td>
                    <td>@ToDoItem.IsCompleted</td>
                    <td>@ToDoItem.Category</td>
                    <td><button class="btn btn-success" @onclick="()=>EditItem(ToDoItem)"> Edit </button></td>
                    <td><button class="btn btn-sm @GetCompletedButtonClass(ToDoItem.IsCompleted)"
                            @onclick="() => ToggleItemCompleteState(ToDoItem)">@GetCompletedButtonIcon(ToDoItem.IsCompleted)</button>
                    </td>
                    <td><button class="btn btn-danger btn-sm" @onclick="() => DeleteItem(ToDoItem)">❌</button></td>
                </tr>
            }
        }
    </tbody>

</table>

<button class="btn btn-dark" @onclick="OrderById">Order by ID</button>
<button class="btn btn-dark" @onclick="OrderByName">Order by Name</button>
<button class="btn btn-dark" @onclick="NavigateToAddTask">➕ Add Task</button>


@code
{
    protected string GetCorrectClassFoTableLine(bool isCompleted)
    {
        return isCompleted ? "table-success" : "table-secondary";
    }
    protected override async Task OnInitializedAsync()
    {
        toDoItems = await ToDoItemsClient.ReadItemsAsync();
    }

    private List<ToDoItemView>? toDoItems;
    public void OrderByName()
    {
        toDoItems = toDoItems?.OrderBy(item => item.Name).ToList();

    }

    public void OrderById()
    {
        toDoItems = toDoItems?.OrderBy(item => item.ToDoItemId).ToList();
    }

    public void EditItem(ToDoItemView toDoItem)
    {
        NavigationManager.NavigateTo($"editToDoItem/{toDoItem.ToDoItemId}");
    }

    private async Task DeleteItem(ToDoItemView toDoItem)
    {
        await ToDoItemsClient.DeleteItemAsync(toDoItem);
        toDoItems = await ToDoItemsClient.ReadItemsAsync();
    }

    private async Task ToggleItemCompleteState(ToDoItemView toDoItem)
    {
        toDoItem.IsCompleted = !toDoItem.IsCompleted;
        await ToDoItemsClient.UpdateItemAsync(toDoItem);
        toDoItems = await ToDoItemsClient.ReadItemsAsync();
    }

    private void NavigateToAddTask()
    {
        NavigationManager.NavigateTo("/editToDoItem");
    }

    private string GetCompletedButtonClass(bool isCompleted)
    {
        return isCompleted ? "btn-success" : "btn-warning";
    }

    private string GetCompletedButtonIcon(bool isCompleted)
    {
        return isCompleted ? "✔️" : "⬜";
    }
}
